<!DOCTYPE html>
<html>
  <head>
    <title>ERGBuild</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"></link>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if @current_user %>
      <%= javascript_pack_tag 'contact_app/index' %>
      <%= stylesheet_pack_tag 'contact_app/assets/stylesheets/app' %>
    <% end %>
  </head>

  <script type="text/javascript" language="javascript">
    window.ERGBuild = {};
    window.ERGBuild.env = "<%= Rails.env %>";
    window.ERGBuild.initialState = {
      user: {
        id: '<%= @current_user&.id %>',
        email: '<%= @current_user&.email %>'
      }
    }
  </script>

  <body>
    <%= render 'menu/header' %>
    <% if @current_user %>

      <%= yield %>

    <% else %>

      <%= yield %>

    <% end %>
  </body>
</html>
